$treeform-primary: (
  50 : #EFFEEF,
    100 : #beffcb,
    200 : #7cff96,
    300 : #38f85f,
    400 : #0fe039,
    500 : #00C527,
    600 : #04b327,
    700 : #049922,
    800 : #078520,
    900 : #066d1b,
    A100 : #afffba,
    A200 : #79ff8b,
    A400 : #49EE5F,
    A700 : #03ff25,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$treeform-accent: (
  50 : #eae0ff,
    100 : #d7c4ff,
    200 : #a57bff,
    300 : #9361ff,
    400 : #7944eb,
    500 : #6332CE,
    600 : #5c2dc0,
    700 : #5227b1,
    800 : #401b92,
    900 : #2b0e6b,
    A100 : #b8d3f9,
    A200 : #89b7f6,
    A400 : #2f8bf2,
    A700 : #146FEE,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
