<div fxLayout="column" class="tb-container tb-color-bg--red-200 main"  ngClass.gt-md="gt-md"  ngClass.lt-lg="lt-lg">
  <div class="tb-padding--24"></div>


  <div class="heading tb-position--relative" ngClass.xs="xs">
    <!-- {{_mIsTriggred}} -->
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="tb-position--relative" [@toggle]="_mIsTriggred">
        <p class="tb-font-weight--bold tb-color--grey-900 capitalize" ngClass.gt-sm="tb-typo--h1"
          ngClass.lt-md="tb-typo--h2 tb-font-weight--normal"><span
            [ngStyle]="{'color': _mModel?.textColor}">{{_mModel.title.split(' ')[0]}}</span>
          {{_mModel.title.split(' ')[1]}}</p>
      </div>
    </div>
    <p [@toggle]="_mIsTriggred" class="title-caps tb-typo--h1 tb-font-weight--ultra-bold tb-color--black-6">
      {{_mModel.title}} </p>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex.gt-sm>
      <div class="tb-padding--36"></div>
      <div [@toggle]="_mIsTriggred">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="tb-border tb-circle tb-rect--56 tb-flex--justify-center tb-flex--align-vertical">
            <mat-icon svgIcon="arrow"></mat-icon>
          </div>
          <div class="tb-padding--h-24"></div>
          <div>
            <p class="tb-typo--h5 tb-color--grey-700">Size</p>
            <p class="tb-typo--h5 tb-color--grey-900 tb-font-weight--medium">{{_mModel.size}}</p>
          </div>
        </div>
        <div class="tb-padding--12"></div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="tb-border tb-circle tb-rect--56 tb-flex--justify-center tb-flex--align-vertical">
            <mat-icon svgIcon="humidity"></mat-icon>
          </div>
          <div class="tb-padding--h-24"></div>
          <div>
            <p class="tb-typo--h5 tb-color--grey-700">Humidity</p>
            <p class="tb-typo--h5 tb-color--grey-900 tb-font-weight--medium">{{_mModel.humidity}}%</p>
          </div>
        </div>
        <div class="tb-padding--12"></div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="tb-border tb-circle tb-rect--56 tb-flex--justify-center tb-flex--align-vertical">
            <mat-icon svgIcon="sun"></mat-icon>
          </div>
          <div class="tb-padding--h-24"></div>
          <div>
            <p class="tb-typo--h5 tb-color--grey-700">Light</p>
            <p class="tb-typo--h5 tb-color--grey-900 tb-font-weight--medium">{{_mModel.light}} </p>
          </div>
        </div>
        <div class="tb-padding--12"></div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="tb-border tb-circle tb-rect--56 tb-flex--justify-center tb-flex--align-vertical">
            <mat-icon svgIcon="weather"></mat-icon>
          </div>
          <div class="tb-padding--h-24"></div>
          <div>
            <p class="tb-typo--h5 tb-color--grey-700">Temperature</p>
            <p class="tb-typo--h5 tb-color--grey-900 tb-font-weight--medium">{{_mModel.temperature}} </p>
          </div>
        </div>
        <div class="tb-padding--16"></div>
        <div>
          <p class="tb-typo--body1 tb-color--grey-700" [@toggle]="_mIsTriggred">To bring the natural system into
            balance, a new economy that is
            sustainable and respects the limits of natural resources, a new economy that is sustainable and respects the
            limits of natural resources, a new economy that is sustainable and respects the limits of natural resourcesl
            a new economy that is sustainable and respects the limits of natural resources</p>
        </div>
      </div>
    </div>
    <div fxFlex.gt-sm="60" class="tb-flex--align-items tb-flex--justify-center tb-color-bg--blue-200">
      <div class="plant-container tb-color-bg--green-200">
        <img src={{_mModel?.img}} class="tb-image" alt="" [@graphAnimation]="_mIsTriggred">
      </div>
    </div>
  </div>

  <div class="tb-padding--16"></div>

</div>
