.mat-drawer-container {
  background-color: #fff !important;
}

.pagerContainer {
  display: none !important;
}


.swiper-container {
  margin-left: 68px !important;
  overflow: visible !important;
  @media screen and (max-width: 959px) {
    .swiper-wrapper{
      margin-top: 48px !important;
    }
    margin-left: 0px !important;
    overflow: hidden !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}
