.mat-drawer-container {
  background-color: #fff !important;
}

.pagerContainer {
  display: none !important;
}


.swiper-container {
  margin-left: 68px !important;
  overflow: visible !important;
  @media screen and (max-width: 959px) {
    .swiper-wrapper{
      margin-top: 48px !important;
    }
    margin-left: 0px !important;
    overflow: hidden !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.mat-video{
  .hide-mouse{
    cursor: default !important;
  }
  .videoplayer{
    border-radius: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
  }
  .videoplayer video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
