.mat-drawer-container {
  background-color: #fff !important;
}

.pagerContainer {
  display: none !important;
}


.swiper-container {
  margin-left: 73px !important;
  overflow: visible !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}
