<div id="dashboard-content" fxLayout="column" ngClass.gt-sm="tb-container"
  ngClass.lt-md="tb-padding--h-16">
  <div ngClass.lt-md="tb-padding--48" ngClass.gt-sm="tb-padding--24"></div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
    <div fxFlex>
      <div ngClass.gt-sm="tb-padding--24"></div>
      <div class="" fxLayout="row">
        <div ngClass.gt-sm="tb-padding--h-36"></div>
        <div>
          <h2 class="tb-typo--h2 tb-color--grey-400 tb-font-weight--normal">Love to</h2>
          <h1 class="tb-typo--h2 tb-color--grey-900 tb-font-weight--normal">Ask Question ?</h1>
        </div>
      </div>
      <div class="tb-padding--16"></div>
      <div fxLayout="row">
        <div class="tb-padding--bottom-48">
          <img src="assets/img/contactus_home_grey.png" class="tb-image" alt="">
        </div>
        <div>
          <img src="assets/img/contactus_home.png" class="tb-image tb-image--cover" alt="">
        </div>
        <div fxFlex="10"></div>
      </div>
      <div ngClass.lt-md="tb-padding--24" ngClass.gt-sm="tb-padding--48"></div>
      <div class="" fxLayout="row">
        <div ngClass.gt-sm="tb-padding--h-36"></div>
        <div>
          <h4 class="tb-typo--h4 tb-font-weight--medium tb-color--grey-500">Get In Touch</h4>
          <div class="tb-padding--8"></div>
          <h3 class="tb-typo--h3 tb-font-weight--bold tb-color--grey-900">834 - 852- 2963</h3>
        </div>
      </div>
    </div>
    <div fxFlex="50">
      <div class="tb-position--relative">
        <img src="assets/img/contactus_map.png" class="tb-image" alt="">
          <mat-icon svgIcon="pin" class="tb-icon--56 tb-position--absolute pin"></mat-icon>
        <div class="box-wrapper">
          <div class="box arrow-bottom" ngClass.gt-sm="tb-padding--16-24" ngClass.lt-md="tb-padding--16-12">
            <div class="tb-padding--4">
              <h4 class="tb-font-weight--medium tb-color--white tb-nowrap" ngClass.gt-sm="tb-typo--h4" ngClass.lt-md="tb-typo--h5">Hatiadanda Colony Rd</h4>
              <div class="tb-padding--4"></div>
              <h5 class="tb-color--white" ngClass.gt-sm="tb-typo--h5" ngClass.lt-md="tb-typo--h6">Rengali Project Town, Odisha 759</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
