<div ngClass.lt-md="tb-padding--36"  ngClass.gt-sm="tb-padding--16"></div>
<div fxLayout="column" class="tb-container--large-double-extra">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
    <div fxFlex>
      <div class="" fxLayout="row">
        <div class="tb-padding--h-36"></div>
        <div>
          <h2 class="tb-typo--h2 tb-color--grey-500 tb-font-weight--normal">Love to</h2>
          <h1 class="tb-typo--h2 tb-color--grey-900 tb-font-weight--normal">Ask Question ?</h1>
        </div>
      </div>
      <div class="tb-padding--16"></div>
      <div fxLayout="row">
        <div class="tb-padding--bottom-48">
          <img src="assets/img/contactus_home_grey.png" class="tb-image" alt="">
        </div>
        <div>
          <img src="assets/img/contactus_home.png" class="tb-image tb-image--cover" alt="">
        </div>
        <div fxFlex="10"></div>
      </div>
      <div class="tb-padding--36"></div>
      <div class="" fxLayout="row">
        <div class="tb-padding--h-36"></div>
      <div>
        <h3 class="tb-typo--h4 tb-font-weight--medium tb-color--grey-500">Get In Touch</h3>
        <h2 class="tb-typo--h3 tb-font-weight--medium tb-color--grey-900">874 - 485 - 5342</h2>
      </div>
    </div>
    </div>
    <div fxFlex="50">
      <div class="image tb-position--relative">
        <img src="assets/img/contactus_map.png" class="tb-image" alt="">
        <div class="box-wrapper">
          <div class="box arrow-bottom">
            <h3 class="tb-typo--h4 tb-font-weight--medium tb-color--white">Hatiadanda Colony Rd</h3>
            <div class="tb-padding--2"></div>
            <h4 class="tb-typo--h5 tb-color--white">Rengali Project Town, Odisha 759</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tb-padding--24"></div>
</div>
<app-footer></app-footer>
