<div class="tb-container" fxLayout="column">
  <h2 class="tb-typo--h2 tb-color--grey-900 tb-font-weight--medium  tb-text-align--center">Advantages</h2>
  <div class="tb-padding--48"></div>
  <div fxLayout="row" fxLayoutAlign="start stretch" fxLayout.lt-sm="column">
    <ng-container *ngFor="let item of _mAdvantages; let index= index;let count= count">
      <div fxFlex.gt-sm="33.33">
        <div  class="tb-border--thick tb-height--full tb-border--r10 tb-padding--36">

          <div class="tb-height--126">
            <img src={{item.icon}} class="tb-image" alt="">
          </div>
          <div class="tb-padding--8"></div>
          <h4 class="tb-typo--h4 tb-font-weight--medium tb-color--grey-900 tb-text-align--center">{{item.title}}</h4>
          <div class="tb-padding--6"></div>
          <p class="tb-typo--body1 tb-color-grey-900">{{item.body}} </p>
        </div>
      </div>
      <div *ngIf="count-1 !== index"  class="tb-padding--16"></div>
    </ng-container>
    <div ngClass.lt-md="tb-padding--12"></div>
  </div>
  <div class="tb-padding--24"></div>
</div>
