.title-caps {
  position: absolute;
  top: -32px;
  left: 50%;
  z-index: -2;
  font-size: 164px;
}

.heading {
  &.xs {
    .title-caps {
      position: absolute;
      top: 0px;
      left: 50%;
      z-index: 0;
      font-size: 56px;
    }
  }
}

.footer-plant {
  width: 324px;
  right: 0px;
  bottom: -58px;
}

.app-line-height--1 {
  line-height: 1 !important;
}
