<div fxLayout="column" class="tb-container--large-double-extra">
  <div fxLayout="row" fxLayoutAlign="start center" class="tb-position--relative">
   <div>
    <div class="heading tb-position--relative" ngClass.xs="xs">
      <div class="block tb-position--relative">
        <p class="tb-typo--h2 tb-font-weight-medium tb-color--grey-900">Treeform</p>
      </div>
      <p class="title-caps tb-typo--h1 tb-font-weight--ultra-bold tb-color--black-6">TREEFORM</p>
    </div>
    <div class="tb-padding--24"></div>
    <div fxLayout="row">
      <a href="" class="tb-typo--button tb-color--grey-900">Contact Us</a>
      <div class="tb-padding--h-16"></div>
      <a href="" class="tb-typo--button tb-color--grey-900">About Us</a>
      <div class="tb-padding--h-16"></div>
      <a href="" class="tb-typo--button tb-color--grey-900">Gallery</a>
    </div>
   </div>
    <div class="tb-position--absolute footer-plant">
        <img src="assets/img/footer_plant.png" class="tb-image tb-image--cover" alt="">
    </div>
  </div>
</div>
