.title-caps {
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 0;
  font-size: 152px;
}

.heading {
  &.xs {
    .title-caps {
      position: absolute;
      top: 60%;
      z-index: 0;
      font-size: 80px;
    }
  }
}
