.main {
  .plant-container {
    height: 564px;
    width: 100%;
  }
  &.gt-md{
    .plant-container {
      height: 600px;
      width: 100%;
    }
  }
  &.lt-md{
    .plant-container {
      height: 264px;
      width: 100%;
    }
  }
}

.erase{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0;
  height: 100%;
}

.draw{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(58, 221, 112);
  height: 100%;
}
