<div class="main tb-width--full" ngClass.lt-md="lt-md" ngClass.gt-md="gt-md" fxLayout="column">
  <div class="plant-container tb-position--relative"  fxFlex.gt-sm>
      <div class="tb-position--absolute erase" [@slideInOutRight]="_mTriggerRight" (@slideInOutRight.done)="_onAnimationDone($event)" 
       [@slideInOutLeft]="_mTriggerLeft" (@slideInOutLeft.done)="_onAnimationDone($event)"></div>
         <img [ngClass]="{'tb-display--none': !_mImgVisible}" src="{{_mCurrentImage}}" (load)="_onImageLoaded()" class="tb-image image-border" alt="">
         <div class="plant-loader">
          <img [ngClass]="{'tb-display--none': _mImgVisible}" src="assets/img/loading_plant_2.svg" class="tb-image" alt="">
        </div>
  </div>
</div>
