<div class="tb-container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="column">
    <div fxFlex class="tb-padding--h-16">
      <h3 class="tb-typo--h3 tb-font-weight--medium tb-color--grey-900">Our Store</h3>
      <h4 class="tb-typo--h4 tb-color--grey-500 tb-font-weight--normal">Looking for plants of choice. Visit our store for some of the rarest
      </h4>
      <div class="tb-padding--16"></div>

      <p class="tb-typo--body1 tb-color--grey-700">
        To bring the natural system into balance, a new econmy that is sutaniable and respects the limit of natural
        resources, that is sustaniable and respects the limit of natural resources.
      </p>
      <div class="tb-padding--12"></div>
        <div class="fused fused-primary"><button mat-raised-button color="primary"
            class="tb-color--white-i tb-typo--button fused-raised-button">
            <span class="tb-typo--button tb-font-weight--normal tb-padding--8-12">Explore Plants</span>
          </button></div>
    </div>
    <div fxFlex="5" ngClass.lt-md="tb-padding--12"></div>
    <div fxFlex="40" class="tb-padding--16">
      <img src="assets/img/store.png" class="tb-image" alt="">
    </div>
  </div>
</div>
