<div class="tb-container" fxLayout="column">
  <div class="tb-position--relative">
    <div class="tb-theme-bg--primary-light background tb-border--r10 tb-padding--v-16">
      <div class="tb-position--relative" fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="column">
        <div fxFlex.gt-sm="30" class="tb-padding--16">
          <img src="assets/img/person.png" class="tb-image" alt="">
        </div>
        <div fxFlex.gt-sm="10"></div>
        <div fxFlex.gt-sm="45" class="tb-padding--h-16">
          <h3 class="tb-typo--h3 tb-font-weight--medium tb-color--white">Feeling down with your surroundings?</h3>
          <p class="tb-typo--body1 tb-color--grey-50">Looking for plants of choise. Visit our store for some of the
            rarest.
          </p>
          <div class="tb-padding--8"></div>
          <div [routerLink]="['/contact-us']" class="fused fused-black"><button mat-raised-button color="primary"
              class="tb-color--white-i tb-typo--button fused-raised-button">
              <span class="tb-typo--button tb-font-weight--normal tb-padding--8-24">Connect us</span>
            </button></div>
        </div>
        <div fxFlexAlign="stretch" class="tb-position--relative" fxFlex.gt-sm="20" ngClass.lt-md="tb-padding--16">
          <div class="tb-position--absolute flower" ngClass.lt-md="tb-display--none">
            <img src="assets/img/flower.png" class="tb-image tb-image--cover" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tb-padding--24"></div>
</div>