/**
                              connected with material theme
*/

@function fused-mat-theme($primary, $accent, $warn, $shadowColor) {
    @return (primary: $primary,
        accent: $accent,
        warn: $warn,
        is-dark: true,
        foreground: $shadowColor,
        background: $mat-dark-theme-background,
    );
}

@function fused-mat-theme-foreground($elevationColor) {
    @return (base: black,
        divider: $dark-dividers,
        dividers: $dark-dividers,
        disabled: $dark-disabled-text,
        disabled-button: rgba(black, 0.26),
        disabled-text: $dark-disabled-text,
        elevation: $elevationColor,
        hint-text: $dark-disabled-text,
        secondary-text: $dark-secondary-text,
        icon: rgba(black, 0.54),
        icons: rgba(black, 0.54),
        text: rgba(black, 0.87),
        slider-min: rgba(black, 0.87),
        slider-off: rgba(black, 0.26),
        slider-off-active: rgba(black, 0.38),
    );
}

@mixin color-modifiers($attribute: 'color') {
    @each $name, $hex in $colors {
      &-#{$name} {
        #{$attribute}: $hex;
      }
    }
  }