<div class="tb-container" fxLayout="column">
  <h2 class="tb-typo--h2 tb-color--grey-900 tb-text-align--center">Welcome to Treeform</h2>
  <h3 class="tb-typo--h3 tb-color--grey-500 tb-font-weight--normal  tb-text-align--center">A companion needed for your
    ecosystem
  </h3>
  <div class="tb-padding--18"></div>
  <div class="tb-position--relative video">
    <div class=" tb-padding--24 tb-theme-bg--primary-alpha tb-border--r24 tb-height--full">
      <mat-video #video  [ngClass]="ngclass" class="mat-video" title="Treeform" [autoplay]="false" [preload]="true" [fullscreen]="true"
            [download]="false" [overlay]="false" color="primary" spinner="spin" [src]="_mVideoSrc" [poster]="_mPosterSrc">
        </mat-video>

    </div>
    <div *ngIf="!mIsRunning" class="circle tb-position--absolute tb-cursor--pointer  tb-circle tb-rect--142 tb-rect--flex" (click)="_onPlayClick()">
      <div class="tb-rect--64 tb-circle tb-theme-bg--primary tb-rect--flex">
        <div class="tb-rect--24">
          <img src="assets/img/play.png" class="tb-image" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="tb-padding--24"></div>
</div>
