
.main{

  &.xs{
    .video-container{
      border-radius: 24px;
    }
  }

  &.sm{
    .video-container{
      border-radius: 28px;
    }

  }

  &.md{
    .video-container{
       border-radius: 32px;
    }
  }

  &.lg{
    .video-container{
    border-radius: 42px;
    }

  }

  &.gt-md{
    .video-container{
    border-radius: 56px;
    }
  }


  // @media screen and (max-width: $tb-fxS) {
  //   .videoplayer, .videoplayer video {
  //       max-height: 230px;
  //       max-width: 330px;
  //   }
    
  //   .videoplayer{
  //     border-radius: 20px;
  //   }

  // }
  // @media screen and (min-width: $tb-fxXS) and (max-width: $tb-fxS) {
  //   .videoplayer, .videoplayer video {
  //     max-height: 310px;
  //     max-width: 400px;
  //   }

  //   .videoplayer{
  //     border-radius: 24px;
  //   }
    
  // }
  // @media screen and (min-width: $tb-fxS) and (max-width: $tb-fxM) {
  //   .videoplayer, .videoplayer video {
  //     max-height: 420px;
  //     max-width: 600px;
  //   }
  //   .videoplayer{
  //      border-radius: 28px;
  //   }
  // }
  // @media screen and (min-width: $tb-fxM) and (max-width: $tb-fxL){
  //   .videoplayer, .videoplayer video {
  //     max-height: 520px;
  //     max-width: 800px;
  //   }

  //  .videoplayer{
  //     border-radius: 32px;
  //   }
    
  // }
  
  // @media screen and (min-width: $tb-fxL) and (max-width: $tb-fxXSL){
  //   .videoplayer, .videoplayer video {
  //     max-height: 760px;
  //     max-width: 1200px;
  //   }
  //   .videoplayer{
  //     border-radius: 36px;
  //   }
  // }
  
  // @media screen and (min-width: $tb-fxXSL ) and (max-width: $tb-fxXL) {
  //   .videoplayer, .videoplayer video {
  //     max-height: 956px;
  //     max-width: 1780px;
  //   }
  //   .videoplayer{
  //       border-radius: 48px;
  //   }
    

  // }
  // video {
  //   // height: 472px;
  //   min-height: 100%;
  //   max-height: 500px;
  //   height: auto;
  //   width: 100%;
  // }

  // &.xs {
  //   .video {
  //     height: 200px;
  //     width: 360px;
    
  //   } 
  // }

  // .videoplayer{
  //     border-radius: 24px;
  //     // position: absolute;
  //     // top: 0;
  //     // bottom: 0;
  //     // width: 100%;
  //     // height: 100%;
  //     // overflow: hidden
  //   }
  //   .videoplayer video {
  //     // /* Make video to at least 100% wide and tall */
  //     // min-width: 100%;
  //     // min-height: 100%;
  
  //     // /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  //     // width: auto;
  //     // height: auto;
  
  //     /* Center the video */
  //     position: absolute;
  //     // top: 50%;
  //     // left: 50%;
  //     // transform: translate(-50%,-50%);
  //   }



  // &.xs {

  //   .video-container{
    
  //     padding: 12px 8px;
  //   }



  // }

  // &.gt-md{
  //   .video-container{
    
  //   }
  // }


  
}


.circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.3);
}



.circle::after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  display: block;
  background:  rgba(240, 240, 240, 0.1);
  border-radius: 100%;
  animation: breathing 2s ease infinite alternate running;
  // -webkit-animation: breathing 4s ease infinite runnning;
  // animation: breathing 4s ease infinite runnning;
}


@-webkit-keyframes breathing {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
}

100% {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
}

@keyframes breathing {
0% {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

100% {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
}
