.title-caps {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  font-size: 15rem;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.heading {
  &.lt-md {
    .title-caps {
      position: absolute;
      top: 33%;
      z-index: 0;
      font-size: 68px;
    }
  }
}

.main {
  &.lt-md {
    position: relative;
    overflow: hidden;
    // height: calc(100vh - 56px);
    height: 100%;
  }
  .shadow-right-light {
    box-shadow: 5px 0 5px -2px rgba(216, 215, 215);
  }
}

.minheight {
  min-height: 300px;
}

.plant-loader {
  width: 100%;
  height: 400px;
}

.shimmer-effect {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}
@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
