<div id="dashboard-content" fxLayout="column" class="main" ngClass.lt-md="lt-md">
  <div ngClass.lt-md="tb-padding--28" ngClass.gt-sm="tb-padding--32"></div>
  <div class="tb-padding--h-36" ngClass.lt-md="tb-display--none">
    <h2 class="tb-typo--h2 tb-color--grey-900 tb-font-weight--normal">
      Top Picks
    </h2>
  </div>
  <div fxLayout.gt-sm="column" fxLayout.lt-md="row" class="tb-height--full">
    <div fxFlex.lt-md="18" class="shadow-right-light" ngclass.lt-md="">
      <app-slider *ngIf="_mTopPicks.length > 0" [model]="_mTopPicks" (slideChange)="OnSlideChange($event)"
        (direction)="_mDirection = $event"></app-slider>
    </div>
    <div ngClass.gt-sm="tb-padding--36"></div>
    <div fxFlex.lt-md ngClass.lt-md="tb-height--full tb-overflow--auto">
      <div fxLayout="column" class="tb-container tb-position--relative" ngClass.gt-sm="tb-overflow--hidden">
        <div class="tb-padding--h-8" ngClass.gt-sm="tb-display--none">
          <h3 class="tb-typo--h3 tb-color--grey-900 tb-font-weight--normal">
            Top Picks
          </h3>
        </div>
        <div class="heading " ngClass.lt-md="lt-md tb-display--none">
          <p class="title-caps tb-typo--h1 tb-font-weight--ultra-bold tb-color--black-6" [@fadeEffect]="_mIsTriggred"
            (@fadeEffect.done)="onAnimationDone($event)">
            {{_mTopPick?.title}} </p>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="column">
          <div fxFlex.gt-sm fxFlexOrder.lt-md="3">
            <app-detail-content [model]="_mTopPick"></app-detail-content>
          </div>
          <div ngClass.lt-md="tb-padding--8" fxFlexOrder.lt-md="2"></div>
          <div fxLayout="column" fxFlex.gt-sm="60" class="tb-flex--align-items tb-flex--justify-center"
            fxFlexOrder.lt-md="1">
            <app-image-viewer [model]="_mTopPick" [direction]="_mDirection"></app-image-viewer>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div ngClass.lt-md="tb-display--none">
  <div class="tb-padding--24"></div>
  <app-footer></app-footer>
</div>
