<div id="dashboard-content" fxLayout="column">
  <div ngClass.lt-md="tb-padding--48" ngClass.gt-sm="tb-padding--24"></div>
  <app-video></app-video>
  <div class="tb-padding--24"></div>
  <app-our-services></app-our-services>
  <div class="tb-padding--24"></div>
  <app-advantages></app-advantages>
  <div class="tb-padding--24"></div>
  <app-our-store></app-our-store>
  <div class="tb-padding--24"></div>
  <app-connect-us></app-connect-us>
</div>
<div class="tb-padding--24"></div>
<app-footer></app-footer>
