<div class="main tb-position--relative tb-select-none"  ngClass.xs="xs"    ngClass.sm="sm"  ngClass.md="md"  ngClass.lg="lg" ngClass.xl="xl" >

    <div class="background-text tb-position--absolute">
        <span class="text tb-typo--h1  tb-font-weight--ultra-bold ">TREEFORM</span>
    </div>
   

    <div class="container tb-position--relative tb-container" fxLayout="row" fxLayout.xs="column">
        <div class="content" fxFlex="50" [fxFlexOrder.xs]="2" fxLayout="column" fxFlexAlign="center">

            <div class="tb-padding--28"></div>
            <h3 class="tb-typo--h2 tb-font-weight--bold">
                Transform Spaces
            </h3>
            <h3 class="tb-typo--h2 tb-theme--primary tb-font-weight--bold">
                with Treeform
            </h3>
            <div class="tb-padding--12"></div>

            
            <p class="tb-color--grey-700 tb-typo--body1">Needed a nursery yet never had the opportunity to kick it off? Treeform is here to satisfy your fantasy, you will never
            need to stress over going through hours toward the end of the week keeping up your plants.</p>
            <div class="tb-padding--24"></div>
            <!-- <div class="fused fused-primary"><button mat-raised-button color="primary" class="tb-color--white-i tb-typo--button fused-raised-button">
                <mat-icon class="tb-icon--16 tb-color--white" svgIcon="play"></mat-icon>&nbsp;<span class="tb-typo--button">Watch Video</span>
              </button></div> -->
            
        </div>
        <div fxFlex="50" class="tb-position--relative">
            <div class="background tb-width--full tb-position--absolute">
                <div class="illustrator-sun">
                    <div class="inner"></div>
                    <div class="outer"></div>
                </div>
                <div class="illustrator-floor tb-width--full tb-color-bg--white tb-position--absolute"></div>
            </div>
            <div class="tb-position--relative tb-height--full">
                <img class="tb-image" src="assets/img/home_plant.png">

            </div>

        </div>

    </div>

</div>