<div class="main tb-position--relative tb-select-none">

    <div class="background-text tb-font-weight--bolder tb-typo--h1 tb-position--absolute">
        <span class="text">TREEFORM</span>
    </div>
    <div class="tb-position--relative tb-container--large-extra tb-height--full" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="50" [fxFlexOrder.xs]="2" fxLayout="column" class="">

            <h3 class="tb-typo--h2 tb-font-weight--bold">
                Transform Home
            </h3>
            <h3 class="tb-typo--h2 tb-theme--primary tb-font-weight--bold">
                with Treeform
            </h3>
            <div class="fused fused-primary"><button mat-raised-button color="primary" class="tb-color--white-i tb-typo--button fused-raised-button">
                <mat-icon class="tb-icon--16 tb-color--white" svgIcon="play"></mat-icon>&nbsp;<span class="tb-typo--button">Watch Video</span>
              </button></div>
            
        </div>
        <div fxFlex="50" class="">
        </div>

    </div>

</div>